body {
    padding: 0;
    margin: 0;
}

#v-pills-tab{
    background-color: gray;
    height:100vh;
}

#v-pills-tabContent{
    width: 100%;
}

.tabla-coord{
    border: solid black;
    padding: 10px;
}